@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: black;
}
.navbar{
    background-color:white;
    font-family:"Roboto",sans-serif;
}

.nav-link{
    color:black;
    margin:0 10px;
}

a:hover{
    color:red;
}

.globe{
    width:20px;
    position:absolute;
    right:70px;
    top:20px;
}

.nav-item{
    font-weight:900;
}

.logo{
    width:100px;
}

.navbar-nav{
    margin:0 auto;
}